{
  "presets": ["es2017", "react", "next/babel"],
  "plugins": [
    "transform-es2015-modules-commonjs",
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ]
  ]
}
